.page-contact {

    .mouse {
        position: absolute;
        bottom: 0; left: 50%;
        transform: translateX(-50%);
        height: $line; width: $line;
        padding: $space-sm $space-xxs;

        &__wheel {
            animation: mouseScroll 2s infinite;
        }

        path {
            stroke: $bg;
        }
    }
}
