.form-contact {

    input {
        border: none;
        border-bottom: 2px solid $gray;
        background-color: #faf8ec;
    }

    select {}

    textarea {
        width: 100%;
        border: none;

        background: repeating-linear-gradient(
            #faf8ec,
            #faf8ec 25.6px,
            $gray 25.6px,
            $gray 27.6px
        );
    }
}
