/* --------------------------------------------------------------------------
 /  Hotword
 / -------------------------------------------------------------------------- */

.hotword {
    color: $accent;
    position: relative;

    &__label {}
    &__link {
        background-color: transparent;
        color: transparent;
        border-radius: ($body-line-height * .5em); // make it round
        position: absolute;
        top: 0; left: 0;
        //z-index: -1;
        transform: translate(-70%, -70%);
        padding: 0 $space-xxs;
        transition:
            color .3s ease-in-out,
            background-color .3s ease-in-out;
        transition-delay: .75s;

        text-decoration: none; // hide link style
        font-weight: 700;
    }

    &__video {
        position: fixed;
        top: 0; left: 0;
        z-index: -1;
        width: 100vw; height: 100vh;
        opacity: 0;
        object-fit: cover;
        transition: opacity .3s ease-in-out;

        &--shown {
            opacity: 1;
        }
    }
}

.hotword--active {

    .hotword__label {}
    .hotword__link {
        background-color: $accent;
        color: $bg;
        //z-index: 1;
        animation: pulse 2s infinite;
        animation-delay: .75s;
    }
}

.hidden { // when main content is hidden
    color: transparent;

    .hotword:not(.hotword--active) {
        color: transparent;
    }
}
