/* --------------------------------------------------------------------------
 /  Hotword
 / -------------------------------------------------------------------------- */

.hidden { // when main content is hidden
    color: transparent;

    .wrapper {
        background-color: transparent !important;
    }

    span, ul, li, p, a {
        color: transparent !important;
    }

    .hotword__label {
        background: none;
    }

    .hotword--active {
        .hotword__label {
            color: $accent !important;
        }

        .hotword__link {
            color: $bg !important;
        }
    }
}

.hotword {
    color: $accent;
    position: relative;

    &__label {
        font-weight: 700;
        background-image: linear-gradient(
            135deg,
            rgba(0, 0, 0, .1) 15%,
            transparent 15%,
            transparent 50%,
            rgba(0, 0, 0, .1) 50%,
            rgba(0, 0, 0, .1) 65%,
            transparent 65%,
            transparent 100%
        );
        background-size: 10px 10px;
    }

    &__link {
        background-color: transparent;
        color: transparent;
        border-radius: ($body-line-height * .5em); // make it round
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        transform: translate(-80%, -80%);
        padding: 0 $space-xxs;
        transition:
            color .3s ease-in-out,
            background-color .3s ease-in-out,
            z-index .3s ease-in-out;
        transition-delay: .75s;

        text-decoration: none; // hide link style
        font-weight: 700;
    }

    &__video {
        position: fixed;
        top: 0; left: 0;
        z-index: -1;
        width: 100vw; height: 100vh;
        opacity: 0;
        object-fit: cover;
        transition: opacity .3s ease-in-out;

        &--shown {
            opacity: 1;
        }
    }
}

.hotword--active {

    .hotword__label {
        background-image: linear-gradient(
                135deg,
                rgba(0, 0, 0, .1) 15%,
                transparent 15%,
                transparent 50%,
                rgba(0, 0, 0, .1) 50%,
                rgba(0, 0, 0, .1) 65%,
                transparent 65%,
                transparent 100%
        );
        background-size: 10px 10px;
        background-color: rgba(255, 255, 255, .3);
    }

    .hotword__link {
        background-color: $accent;
        color: $bg;
        z-index: 1;
        animation: pulse 2s infinite;
        animation-delay: .75s;
    }
}
