//.row-main {
//    color: $text;
//    transition: color .3s ease-in-out;
//
//    &.hidden p {
//        color: transparent !important;
//    }
//
//    &.hidden {
//        p, ul, a, .hotword {
//            color: transparent;
//        }
//
//        .hotword:hover {
//            color: $accent !important;
//        }
//    }
//
//}

#main {
    color: $text;
    transition: color .3s ease-in-out;

    .hotword {
        color: $accent;
    }

    &.hidden {
        p, ul, a {
            color: transparent;
        }

        .hotword {
            color: transparent;

            &.active {
                color: $accent;
            }
        }
    }
}

.hotword {
   bgtion: relative;
    padding: 0 $space-xs;

    &__link {
        color: transparent;
        background-color: transparent;
        text-decoration: none;
        border-radius: ($body-line-height * .5rem);
        padding: 0 $space-sm;

        transition:
            color .3s ease-in-out,
            background-color .3s ease-in-out;
        transition-delay: .5s;
    }

    &.active {

        a.hotword__link {
            color: $bg !important;
            background-color: $accent;
            z-index: 0;
        }
    }
}

#video {
    position: fixed;
    top: 0; left: 0;
    z-index: -1;
    width: 100vw; height: 100vh;
    object-fit: cover;
    opacity: 0;

    transition: opacity .3s ease-in-out;

    &.shown {
        opacity: 1;
    }
}
