//.row-main {
//    color: $text;
//    transition: color .3s ease-in-out;
//
//    &.hidden p {
//        color: transparent !important;
//    }
//
//    &.hidden {
//        p, ul, a, .keyword {
//            color: transparent;
//        }
//
//        .keyword:hover {
//            color: $link !important;
//        }
//    }
//
//}

#main {
    color: $text;
    transition: color .3s ease-in-out;

    .keyword {
        color: $link;
    }

    &.hidden {
        p, ul, a {
            color: transparent;
        }

        .keyword {
            color: transparent;

            &.active {
                color: $link;
            }
        }
    }
}

.keyword {
    position: relative;
    padding: 0 ($gap * .25);

    &__link {
        color: transparent;
        background-color: transparent;
        text-decoration: none;
        border-radius: ($line-height * .5rem);

        position: absolute;
        right: $gap * .5;
        z-index: -1;
        transform: translateX(100%);
        padding: 0 ($gap / 2);

        transition:
            color .3s ease-in-out,
            background-color .3s ease-in-out,
            right .3s ease-in-out,
            z-index .3s ease-in-out;
        transition-delay: .5s;
    }

    &.active {

        a.keyword__link {
            color: white !important;
            background-color: $link;
            right: 0;
            z-index: 0;
        }
    }
}

#video {
    position: fixed;
    top: 0; left: 0;
    z-index: -1;
    width: 100vw; height: 100vh;
    object-fit: cover;
    opacity: 0;

    transition: opacity .3s ease-in-out;

    &.shown {
        opacity: 1;
    }
}
