.row-main {
    color: $text;
    //transition: color .3s ease-in-out;

    &.hidden {
        color: transparent;
    }
}

.keyword {
    color: $futureberry;
}

#video {
    position: fixed;
    top: 0; left: 0;
    z-index: -1;
    width: 100vw; height: 100vh;
    object-fit: cover;
    opacity: 0;

    transition: opacity .3s ease-in-out;

    &.shown {
        opacity: 1;
    }
}
