#logo {
    padding: $space-xs 0;

    svg {
        height: $line;

        @include breakpoint($lg) {
            height: 1.5 * $line;
        }
    }
}

.page-contact #logo {
    path {
        fill: $bg;
    }
}
