[viewBag]
snippetCode = "keyword"
snippetName = "Keyword"
snippetProperties[keywordVideo][title] = "Video"
snippetProperties[keywordVideo][type] = "string"
snippetProperties[keywordVideo][default] = ""
snippetProperties[keywordVideo][options][] = ""
snippetProperties[keywordLabel][title] = "Label"
snippetProperties[keywordLabel][type] = "string"
snippetProperties[keywordLabel][default] = ""
snippetProperties[keywordLabel][options][] = ""
==
<span class="keyword" data-video="{{ keywordVideo }}">Hey, sono uno snippet! {{ keywordLabel }}</span>
