@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i&display=swap');

html {
    font-size: 100%;
    line-height: $line-height;
}

body {
    color: $text;
    font-family: $sans-serif;
    font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $line-height * .75;
    margin: $gap 0;
}

p {
    margin: $gap 0;
}

a {
    color: $link;
    text-decoration: underline 2px;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

svg {
    vertical-align: middle;
}
