@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i&display=swap');

html {
    font-size: 100%;
    line-height: $body-line-height;
    scroll-behavior: smooth;
}

body {
    background-color: $bg;
    font-size: $text-base-size;
    font-family: $font-primary;
    color: $text;

    @include breakpoint($md) {
        font-size: 1.5em;
    }
}

h1, h2, h3, h4 {
    font-family: $font-heading;
    line-height: $heading-line-height;
    font-weight: 700;
    margin: $space-sm 0;
}

p {
    margin: $space-md 0;
}

a {
    color: $accent;
    text-decoration: underline 2px;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

ul {
    margin: $space-md 0;
    padding-left: $space-md;
}

svg {
    vertical-align: middle;
}
