/* --------------------------------------------------------------------------
 /  Default layout
 / -------------------------------------------------------------------------- */

.layout-default {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .wrapper-main {
        flex-grow: 1; // Sticky footer
    }
}
